In [8]:
#import requests
#import html5lib
#import sys
#import webbrowser
#from bs4 import BeautifulSoup
import re
from googlesearch import search
#pip install google
import twint
#pip3 install twint
import nest_asyncio
#pip3 install nest_asyncio
nest_asyncio.apply()
print("Done")

Done

In [11]:
#https://www.geeksforgeeks.org/performing-google-search-using-python-code/
name = input("Give me the name")
query = "twitter" + name 
#print(query)
for j in search(query, tld="com", num=1, stop=1, pause=2): 
    print(j) 
    if(j.find("twitter.com")):
        atpos  = j.find('?')
        username = j[20: atpos]
        print(username)

Give me the nameRatan Tata
https://twitter.com/RNTata2000?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor
RNTata2000

In [3]:
#https://github.com/twintproject/twint
c = twint.Config()
c.Username = username
#c.search = " "
c.Since = "2021-01-01"
c.limit = 1000
c.Store_csv = True
c.Output = str(username)+  ".csv"
twint.run.Search(c)

1357191263267733505 2021-02-04 10:26:27 +0530 <chetan_bhagat> My stance on farm bills remains same, they give the farmer more choice. My col from Sep, well before the current situation started.    https://t.co/QW5EvuVJoP
1357190622562709504 2021-02-04 10:23:54 +0530 <chetan_bhagat> Of course govt will be concerned if influencers with global reach comment against farm bills.  This doesn't mean the bills are wrong,or the govt is defeated.   And it definitely doesn't mean you should enjoy our country being shamed by people who don't know the full picture.
1357188656214249472 2021-02-04 10:16:05 +0530 <chetan_bhagat> Indian farmer incomes are too low, less than half the average per capita GDP of India. The new laws liberalize agriculture and attempt to increase incomes.  This isn't about a twitter battle or which pop star said what. This is about true change in our country. Take it seriously.
1357188241812783114 2021-02-04 10:14:26 +0530 <chetan_bhagat> Most developed countries have very high private sector participation in agriculture. That's how farmer incomes rise. The fear of change will never let you change, even for the better.  My column on farmer bills, and the status quo- change paradox:   https://t.co/4LADYCDD01
1357187458455240710 2021-02-04 10:11:20 +0530 <chetan_bhagat> Read before you outrage. Without the private sector, without the farmer's having more choice, India's agriculture sector will never improve. All sympathetic int'l pop icons should note this before reacting.  My col on Farmer Bills. Do read, then comment:  https://t.co/QW5EvuVJoP
1356938926003380224 2021-02-03 17:43:45 +0530 <chetan_bhagat> My favorite Rihanna song:  'Love the way you lie.'
1356517998652100610 2021-02-02 13:51:08 +0530 <chetan_bhagat> Social media activism ( contd part 2/2)  https://t.co/mAMyzdqmwW
1356517518794321922 2021-02-02 13:49:14 +0530 <chetan_bhagat> New Video: Social media activism.  Are you obsessed with your likes or dislikes on social media? Fighting for something, trolling people or celebrities? Well this video is for you!  (Part 1/2)  https://t.co/uxv9tzPXfv
1356453942201212928 2021-02-02 09:36:36 +0530 <chetan_bhagat> Israel population is 9million, around that of Hyderabad,. Vaccine has reached 60% of Israel's population (highest in the world currently).  Still, Israel reported 8.8k Covid cases yest.  India, with 1400million people, and &lt;1% vaccine penetration reported 8.5k Covid cases yest.
1356254001176559617 2021-02-01 20:22:06 +0530 <chetan_bhagat> My take
1356239100097875969 2021-02-01 19:22:53 +0530 <chetan_bhagat> As long as Covid continues to recede like it has, Indian economy will boom in 2021. There‚Äôs tremendous pent up demand from 2020, the reopening and the spending heavy budget with no major new taxes will create an economic boom in 2021. Good budget.
1356162484726493185 2021-02-01 14:18:27 +0530 <chetan_bhagat> 2020 ‡§ï‡•Ä ‡§¨‡•ç‡§≤‡•â‡§ï‡§¨‡§∏‡•ç‡§ü‡§∞ ‡§ï‡§ø‡§§‡§æ‡§¨ ‡§Ö‡§¨ ‡§π‡§ø‡§Ç‡§¶‡•Ä ‡§Æ‡•á‡§Ç! ‡§µ‡§® ‡§Ö‡§∞‡•á‡§Ç‡§ú‡•ç‡§° ‡§Æ‡§∞‡•ç‡§°‡§∞ ‡§ï‡•ã ‡§Ü‡§ú ‡§π‡•Ä ‡§™‡•ç‡§∞‡•Ä-‡§ë‡§∞‡•ç‡§°‡§∞ ‡§ï‡§∞‡•á‡§Ç:  https://t.co/X0dVmPItL9  https://t.co/vVLt9I6unS
1356143692147396609 2021-02-01 13:03:46 +0530 <chetan_bhagat> A budget that moves towards more reform, a budget that increases spending in productive areas, a budget that attempts to ease filing taxes - overall very good in the middle of a pandemic. With Covid receding and this budget, Indian economy will boom in 2021. Very good budget.
1356105804554797057 2021-02-01 10:33:13 +0530 <chetan_bhagat> Reminder to all those who need it :)  See me all day today on @TimesNow on the budget!
1355876259268444162 2021-01-31 19:21:05 +0530 <chetan_bhagat> My column today!
1355742220951891968 2021-01-31 10:28:28 +0530 <chetan_bhagat> Gm all,  ‚ÄúFace it, world. India has tackled Covid better than most advanced nations,‚Äù my column in TOI today.  Do read and share!   https://t.co/jTObsSzLKd
1354012263548473345 2021-01-26 15:54:14 +0530 <chetan_bhagat> Happy Republic Day! üáÆüá≥  https://t.co/xY8O8VIsZV
1352479692192845824 2021-01-22 10:24:21 +0530 <chetan_bhagat> See me on February 1,2021 budget day, all day on Times Now, as I help simplify and decode the budget. #feb1withtimesnow   @obaidmihd9 @RShivshankar @navikakumar  https://t.co/GkFp80vCaZ
1351943187338694657 2021-01-20 22:52:28 +0530 <chetan_bhagat> Big day for the USA today.
1351420861111156736 2021-01-19 12:16:56 +0530 <chetan_bhagat> India Corona Deaths (yesterday): 137  India average daily road accident deaths: 414  #perspective
1351419934245490688 2021-01-19 12:13:15 +0530 <chetan_bhagat> How self-hating bias works:  Rich, developed country reduces corona cases 90% = Wow, excellent governance, so much effort.  India reduces corona cases 90% = must be luck, fake reporting etc etc.  Give credit where it is due. India doing excellent improvement on Corona numbers.
1351418740877848579 2021-01-19 12:08:30 +0530 <chetan_bhagat> What is happening with Corona cases decline in India is nothing short of a miracle. If any developed country had achieved the trends we have, it would be recognized a lot more.  A near 90% drop from peak in New Daily Cases. Thank you to God. Congrats to all Indians!
1351418242095431681 2021-01-19 12:06:31 +0530 <chetan_bhagat> India pop: ~1400mn (over 4x of USA)  USA pop: ~330mn  India Active cases: 2lakhs (2% of USA) USA Active: 96 lakhs  India Daily New Cases: 10k (7% of USA) USA Daily New: 142k  God's grace, India's done phenomenally well in lowering Corona cases. The world needs to recognize that.
1350306709374455825 2021-01-16 10:29:41 +0530 <chetan_bhagat> Gm all,  ‚ÄúWhen emotions Trump reason: Indians should pay heed to lessons of US Capitol attack, when unchecked emotions erupted,‚Äù my column in TOI today.  https://t.co/dBljJ5lqVL  Do read and share!
1349960196387291137 2021-01-15 11:32:46 +0530 <chetan_bhagat> Hi guys, check out my interview on @BBCWorld tonight at 9pm on #WorkLifeIndia where we talk about reading habits and more!  https://t.co/EAyxCSnVeG
1348840155428212737 2021-01-12 09:22:07 +0530 <chetan_bhagat> You are the reason I write. Thanks for making my day.
1348592779241275396 2021-01-11 16:59:08 +0530 <chetan_bhagat> My original video on Nationalism:
1348552120962699267 2021-01-11 14:17:35 +0530 <chetan_bhagat> Dealing with extreme leftists (follow up to my earlier video on extreme nationalism. (Part 2 of 2)  https://t.co/vSpUYE9vat
1348550404859076608 2021-01-11 14:10:46 +0530 <chetan_bhagat> Dealing with extreme leftists (follow up to my earlier video on extreme nationalism. (Part 1 of 2)  https://t.co/zh8VMW76tO
1347866378938716160 2021-01-09 16:52:41 +0530 <chetan_bhagat> Fantastic 1-min video. Proud to be associated with @IndiaToday in various forms, from panelist to conclave speaker to sahitya aajtak and more. One of my proudest moments was to be on  @IndiaToday cover. #IndiaTodayGroupAt45  retains its magic - and quest for the truth! Congrats!
1345978714945798146 2021-01-04 11:51:47 +0530 <chetan_bhagat> Congratulations ko Hindi mein kya kehte hain? Mubarak aapko bahut bahut!
1345602519272046592 2021-01-03 10:56:55 +0530 <chetan_bhagat> Gm all,  ‚ÄúProtsahan: Paying every Indian 5,000 (as expirable vouchers) can boost the economy. How it can be done:,‚Äù my column in TOI today.  Do read FULLY to understand the scheme details before commenting. Civil and thought through feedback welcome!   https://t.co/9TVSc4gXYw‚Ä¶
[!] No more data! Scraping will stop now.
found 0 deleted tweets in this search.

In [4]:
#reading a csv file

import pandas as pd

data = pd.read_csv(str(username)+  ".csv") 
#data.describe()
data.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1357191263267733505,1357191263267733505,2021-02-04 10:26:27 IST,2021-02-04,10:26:27,530,44588485,chetan_bhagat,Chetan Bhagat,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1357190622562709504,1357190622562709504,2021-02-04 10:23:54 IST,2021-02-04,10:23:54,530,44588485,chetan_bhagat,Chetan Bhagat,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1357188656214249472,1357188656214249472,2021-02-04 10:16:05 IST,2021-02-04,10:16:05,530,44588485,chetan_bhagat,Chetan Bhagat,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1357188241812783114,1357188241812783114,2021-02-04 10:14:26 IST,2021-02-04,10:14:26,530,44588485,chetan_bhagat,Chetan Bhagat,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
4,1357187458455240710,1357187458455240710,2021-02-04 10:11:20 IST,2021-02-04,10:11:20,530,44588485,chetan_bhagat,Chetan Bhagat,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [5]:
twits = (data['tweet'])
#type(twits)
#print(twits)
#twits.shape
type(twits)

pandas.core.series.Series

In [6]:
twits.to_csv(str(username)+ "_final.csv")

#t = data['tweet'].to_numpy()
#print(t)

In [7]:
t.shape
type(t)

NameError: name 't' is not defined

In [ ]:
import numpy as np
  
#x = geek.arange(0, 10, 1) 
#print("x is:") 
#print(x) 
  
# X is an array 
c = np.savetxt(str(username) + '.txt', t, delimiter =', ')    
a = open(str(username) + '.txt', 'r')# open file in read mode 
  
print("the file contains:") 
print(a.read())

In [ ]:
#vaibhaw ka kam 
hand = open('out.txt')
for line in hand:
    line = line.rstrip()
    print(line)

In [ ]:
# importing panda library 
import pandas as pd 
  
# readinag given csv file 
# and creating dataframe 
dataframe1 = pd.read_csv("out.txt") 
  
# storing this dataframe in a csv file 
dataframe1.to_csv('out.csv',  
                  index = None)

In [ ]:
d = pd.read_csv('out.csv')
#d.info()
#d.head()
print(d["TEXT"])

In [ ]:
d.head()

In [ ]:
my_file = open("out.txt", "w")

my_file.write("First Line\n")
my_file.write("Second Line")
my_file = open("test_file.txt")
Open file for reading

content = my_file.read()

In [ ]:
import twint

c = twint.Config()
c.Username = "noneprivacy"
c.Limit = 100
c.Store_csv = True
c.Output = "none.csv"
c.Lang = "en"
c.Translate = True
c.TranslateDest = "it"
twint.run.Search(c)

In [ ]:
#url  = 'https://www.google.com/search?q='
#name = input("Give me the name")
#name = name.replace(" ", "+")
#print(name)

#print(url + name)

#r = requests.get(url)
#htmlcontent = r.content
#print(htmlcontent)
#soup  = BeautifulSoup(htmlcontent, 'html.parser')

#print(soup)

#creting the soup
#import re
#x = 'https://twitter.com/narendramodi?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor'
#atpos  = x.find('?')
#print(x.find("twitter.com"))
#print(atpos)
#stpos  = x.find('/', 10)
#print(stpos)
#username = x[stpos+1: atpos]
#username = x[20: atpos]
#print(username)
#y = re.findall('^https://twitter.com/.+?:', x)
#print(y)
#y = "none"


#title  =soup.title


#print(title.string)
#print(title)
##print(title.string)
#anchors = soup.find_all('a')
#print(anchors)
#paras = soup.find_all('p')
#print(paras)